Build: test, false


  Test Class
    userController.testFunction
      ✓ should return 2 times the input

  User API
    /GET user
      ✓ should return user by username


  2 passing (58ms)

